{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport"content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"/>
    <script defer src="{% static 'js/seats.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/sports_seats.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light" id="nav">
      <a class="navbar-brand" id="logo" href="{% url 'main' %}">Booked</a>
      <form class="form-inline " action="{% url 'search_bar' %}" method="post"  >
        {% csrf_token %}
        <input class="form-control mr-sm-2"  placeholder="Search by Events/Genre/Venues" aria-label="Search" name = 'genre' style="margin-left: 400px;" >
      </form>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav" style="margin-left: 130px;">
          {% if user %}
          <a class="nav-link active" style="font-size: 19px;" href="{% url 'logout' %}" id="redirect">Logout <span class="sr-only">(current)</span></a>
          <a class="nav-link active" style="font-size: 19px;" href="{% url 'about' %}" id="redirect">About <span class="sr-only">(current)</span></a>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white;">
              <span id = 'redirect1' style="font-size: 19px;" > Welcome, {{user.username}}</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color:ivory">
              <a class="dropdown-item" href="{% url 'test' %}">My Tickets</a>
              <a class="dropdown-item" href="{% url 'favourites' %}">My Favourites</a>
              <!-- <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a> --> 
            </div>
          </li>
          {% else %}
          <a class="nav-link active" style="font-size: 19px;" href="{% url 'display' %}" id="redirect">Signup<span class="sr-only">(current)</span></a>
          <a class="nav-link" style="font-size: 19px;" href="{% url 'login' %}" id="redirect1">Login</a>
          <a class="nav-link active" style="font-size: 19px;" href="{% url 'about' %}" id="redirect">About <span class="sr-only">(current)</span></a>
          {% endif %}
        </div>
      </div>
    </nav>
    <div style="padding: 50px; border-radius:20px ; background-color: #EAFDFC;" class="border m-5">
      <div class="container" id="seats">
        <div class="row" style="border-radius: 200px; margin-right: -147px;">
          <div class="col-sm" id="sides">
            <div class="centre">
            {% for each in leftseats %}
               {% if each.booked %}
              <button class="booked">B</button>
               {% else %}
              <button
                class="choose"
                value="{{each.number}},{{each.price}},{{each.venue.id}}"
                id="{{each.number}}"
                onclick="clicked(value)"><span class="number">{{each.number}}</span></button>
              {% endif %} 
            {% endfor %}
            <h6>Stand A (Price: ₹500)</h6>
            </div>
          </div>
          <div class="col-sm" id="mid">
            <div class="centre">
              <h6>Stand C (Price: ₹300)</h6>
              {% for each in topseats %}
               {% if each.booked %}
              <button class="booked">B</button>
               {% else %}
              <button
                class="choose"
                value="{{each.number}},{{each.price}},{{each.venue.id}}"
                id="{{each.number}}"
                onclick="clicked(value)"><span class="number">{{each.number}}</span></button>
               {% endif %} 
              {% endfor %} 
              {% if football %}
              <img src="{% static 'images/football.jpeg' %}" alt="" />
              {% elif cricket %}
              <img src="{% static 'images/cricketf.jpg' %}" alt="" />
              {% else %}
              <img src="{% static 'images/tennis.jpg' %}" alt="" />
              {% endif %}
              {% for each in bottomseats %} 
               {% if each.booked %}
              <button class="booked">B</button>
               {% else %}
              <button
                class="choose"
                value="{{each.number}},{{each.price}},{{each.venue.id}}"
                id="{{each.number}}"
                onclick="clicked(value)"><span class="number">{{each.number}}</span></button>
               {% endif %} 
              {% endfor %}
              <h6>Stand D (Price: ₹200)</h6>
            </div>
          </div>
          <div class="col-sm" id="sides2">
            <div class="centre">
              {% for each in rightseats %} 
               {% if each.booked %}
              <button class="booked">B</button>
               {% else %}
              <button
                class="choose"
                value="{{each.number}},{{each.price}},{{each.venue.id}}"
                id="{{each.number}}"
                onclick="clicked(value)"><span class="number">{{each.number}}</span></button>
               {% endif %}
              {% endfor %}
              <h6>Stand B (Price: ₹400)</h6>
            </div>
          </div>
        </div>
      </div>
      <form action="{% url 'paynow' %}" onsubmit="return pressed()" method="POST">
        {% csrf_token %}

        <button id="total" name="total" value="0" type="submit" class="book">Book</button>
      </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  </body>
  <footer>
    <div class="footer-heading">
      <h3>Booked</h3>
    </div>
    <div class="footer-content">
      <p>A platform which allows you to book tickets of your favourite movies, shows , events and sports.</p>
      <ul class="socials">
        <li><svg style="color:white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z"/></svg></li>
        <li><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"/></svg></li>
        <li><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z"/></svg></li>
      </ul>
      <div class="footer-bottom">
        <p>copyright &copy; 2023 Booked. </p>
      </div> 
    </div>
  </footer>
</html>
