body{
   
    background-color: #EAFDFC;

}
#nav{
    background-color: rgb(20, 34, 61); position: sticky;
    /* position: sticky;
    top: 0;
    width: 100%; */
    z-index: 1;
}


#logo{
    font-family: 'Pacifico', cursive;
    font-size: 35px;
    color: aliceblue;
    
}
  
#redirect{
    color: #EAFDFC;
    margin-left: 7px;
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    }
    
#redirect1{
      color: #EAFDFC;
      font-size: 25px;
      font-family: 'Raleway', sans-serif;
    }

.form-control{
        padding-left: 150px;
        padding-right: 150px;
        text-align: center;
}


.filter{
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
        width: 77px;
        height: 35px;
        border-radius: 5px;
        background-color: white; 
        color: black; 
        border: 2px solid  rgb(20, 34, 61);
        
    }
    
.filter:hover{
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
        width: 77px;
        height: 35px;
        border-radius: 5px;
        background-color: rgb(20, 34, 61); 
        color: white; 
        border: 2px solid  rgb(20, 34, 61);
        
    }


footer h3{
    font-family: 'Pacifico', cursive;
}

footer{
    padding-top: 10px;
    background-color:rgb(20, 34, 61);
    color: #EAFDFC;
    padding-bottom: 10px;
text-align: center;
}
footer svg{
    height: 30px;
    width: 30px;
}

footer ul{
    list-style-type: none;
}

.socials{
   
    display: flex;
    margin-left: 44%;
}

.socials li{
    

    padding-left: 5px;
    padding-right: 5px;
   
}


.socials svg{
    color: #EAFDFC;
}
.socials li:hover{
    color: aqua;
}


@media screen and (max-width: 650px){
    .card{
      
      margin-left: 30%;
    }
  
  }
  
  footer h3{
          font-family: 'Pacifico', cursive;
      }
      
      footer{
          padding-top: 10px;
          background-color:rgb(20, 34, 61);
          color: #EAFDFC;
          padding-bottom: 10px;
      text-align: center;
      }
      footer svg{
          height: 30px;
          width: 30px;
      }
      
      footer ul{
          list-style-type: none;
      }
      
      .socials{
         
          display: flex;
          margin-left: 44%;
      }
      
      .socials li{
          
      
          padding-left: 5px;
          padding-right: 5px;
         
      }
      
      
      .socials svg{
          color: #EAFDFC;
      }
      .socials li:hover{
          color: aqua;
      }
      