body{
    background-color: #EAFDFC;
}
#nav{
    background-color: rgb(20, 34, 61); position: sticky;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
}


#logo{
    font-family: 'Pacifico', cursive;
    font-size: 35px;
    color: aliceblue;
    
}
  
#redirect{
    color: #EAFDFC;
    margin-left: 30px;
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    }
    
#redirect1{
      color: #EAFDFC;
      margin-left: 10px;
      font-size: 25px;
      font-family: 'Raleway', sans-serif;
    }
    


.trending{
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    padding: 50px;
    padding-bottom: 25px;
    text-align: center;

}

.card{
    transition: 0.3s;
    box-shadow: rgba(132, 164, 239, 0.986) 0px 10px 10px, rgba(132, 164, 239, 0.986) 0px 10px 10px;;
}

.card:hover{
    transform: scale(1.1);
}








.form-control{
    padding-left: 150px;
    padding-right: 150px;
    text-align: center;
}

.carousel-item{
    height: 600px;
} 
.carousel-item img{
    height: 510px;
}

#image{
    width: 100%;
}

footer h3{
    font-family: 'Pacifico', cursive;
}

footer{
    padding-top: 10px;
    background-color:rgb(20, 34, 61);
    color: #EAFDFC;
    padding-bottom: 10px;
    text-align: center;
}




.socials{
   
    display: flex;
    margin-left: 44%;
}

.socials li{
    

    padding-left: 5px;
    padding-right: 5px;
   
}


.socials svg{
    color: #EAFDFC;
}
.socials li:hover{
    color: aqua;
}

#description{
    font-family: 'Raleway', sans-serif;
    color: #EAFDFC;
    margin-left: 80px;  
    width: 100px;
    margin: 0px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}


   .carousel-item:before {
    -webkit-box-shadow: inset 0 0 40rem rgba(0, 0, 0, 1);
    box-shadow: inset 0 0 40rem rgba(0, 0, 0, 1);
    position: absolute;
    top: 5;
    left: 5;
    width: 100%;
    height: 85%;
    content: "";
}





@media screen and (max-width: 650px){
    
    *{
        margin: 0;
        padding: 0;
    }
    
     #nav{
        height: 100px;
        
        
    } 
    
    .explore{
        margin-right: 30px;
    } 
    
    .explore-cards{
        margin-left: 90px;
        padding-bottom: 90px;
    }
    
    .img-details{
        height: 500px;
        width: 10px;
    }
    
    #row-details{
       
       margin-top: 90px;
        width: 520px;
    }
    
    .upcoming h3{
        position: relative;
        left: 10px;
    }
    
    .one{
        width: 500px;
    }
    .two{
        position: relative;
        right: 30px;
        width: 500px;
    }
    .three{
        width: 500px;
    }
    .four{
        position: relative;
        right: 30px;
        width: 500px;
    }
    
    
    .carousel-item:before {
        -webkit-box-shadow: none;
        box-shadow: none;
    
    }
    

        }
