body{
        background-color: rgb(20, 34, 61);
    }
    #nav{
        background-color: rgb(20, 34, 61)
    }
    
    
    #logo{
        font-family: 'Pacifico', cursive;
        font-size: 35px;
        color: aliceblue;
        
    }
      
    #redirect{
        color: #EAFDFC;
        margin-left: 30px;
        font-size: 19px;
        font-family: 'Raleway', sans-serif;
        }
        
    #redirect1{
          color: #EAFDFC;
          margin-left: 10px;
          font-size: 19px;
          font-family: 'Raleway', sans-serif;
        }
        
.form-control{
              
        padding-left: 150px;
        padding-right: 150px;
        text-align: center;
        }

.choose {
        width: 35px;
        height: 35px;
        background-color: white; 
        color: black; 
        border: 2px solid #008CBA;
        }
      
.choose:hover {
        width: 35px;
        height: 35px;
        background-color: #008CBA;
        color: white;
      }

.booked{
    color: #EAFDFC;
    width: 35px;
    height: 35px;
    background-color: rgb(20, 34, 61);
    font-family: 'Pacifico', cursive;

}

.select {
        width: 35px;
        height: 35px;
        background-color: #008cba;
        color: black;
        border: 2px solid #008cba;
 }

 .book{
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
        width: 100px;
        height: 35px;
        margin-left: 600px;
        border-radius: 5px;
        background-color: white; 
        color: black; 
        border: 2px solid  rgb(20, 34, 61);
        
 }

 .book:hover{
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
        width: 100px;
        height: 35px;
        margin-left: 600px;
        border-radius: 5px;
        background-color: rgb(20, 34, 61); 
        color: white; 
        border: 2px solid  rgb(20, 34, 61);
        
 }
 
footer h3{
        font-family: 'Pacifico', cursive;
    }
    
    footer{
        padding-top: 10px;
        background-color:rgb(20, 34, 61);
        color: #EAFDFC;
        padding-bottom: 10px;
        text-align: center;
    }
    footer svg{
        height: 30px;
        width: 30px;
    }
    
    footer ul{
        list-style-type: none;
    }
    
    .socials{
       
        display: flex;
        margin-left: 44%;
    }
    
    .socials li{
        
    
        padding-left: 5px;
        padding-right: 5px;
       
    }
    
    
    .socials svg{
        color: #EAFDFC;
    }
    .socials li:hover{
        color: aqua;
    }
    

 @media screen {
        
 }
   
